* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;

}

.content1 {
    width: 100%;
    height: 100%;
    background-image: url("photo-1.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    padding: 1% 5%;
    gap: 100px;
    align-items: center;
}

.nav>img {
    width: 50px;
    /* height: 80px; */
    /* border-radius: 50%; */

}

.content2 {
    margin: 8% 5%;
    color: white;
}

.content2>h1 {
    font-size: 45px;
}

.content2>p {
    font-size: 15px;
    padding: 10px 2px;
}

.content2>button {
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.icon {
    display: flex;
    flex-direction: column;
    color: white;
    /* margin: 0 70px; */
    gap: 17px;
}

.icon>i {
    font-size: 20px;
    padding: 0 5%;
}

/* ================page2================ */

.page2 {
    width: 100%;
}

.pro-detal {
    margin: 3% 30%;
}

.pro-detal>h1 {
    font-size: 50px;
    font-weight: 900;
    padding: 20px 0;
}

.pro-detal>p {
    font-size: 18px;
    padding: 10px 0;
}

.page2-box {
    width: 80%;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    border-radius: 20px;
    display: flex;
    margin: 2% 5%;
}

.page2-box>i {
    font-size: 25px;
    padding: 0 10px;
}

.page2-box1 {
    width: 80%;
    display: flex;
    margin: 8% 5%;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 9px;
}

.page2-box1>.box>img {
    width: 60%;
    padding: 30px 0;

}

.box>h3 {
    padding-top: 20px;
    font-size: 23px;

}

.box>p {
    padding: 10px 0;
    font-size: 15px;

}

/* ================page3=============== */

.page3 {
    width: 100%;
    margin: 2% 5%;
}



.page3-hading>h1 {
    font-size: 45px;
    font-weight: 800;
    padding: 10px 0;
    line-height: 1;
}

.contact {
    width: 45%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 3% 23%;
    gap: 10px;
    border: 1px solid green;
    padding: 10px 9px;
    border-radius: 5px;
}

form {
    width: 50%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact>h2 {
    font-size: 25px;


}

.contact>p {
    font-size: 15px;
    /* padding: 20px ; */
    padding-bottom: 20px;
}

label {
    /* display: block; */
    font-size: 18px;
}

.name {
    padding: 6px 12px;
    font-size: 15px;
    margin: 3px 0;
    
}

.email {
    padding: 6px 12px;
    font-size: 15px;
    margin: 5px 0;
}

.help {
    padding: 6px 12px;
    font-size: 15px;
    margin: 5px 0;
}

.name:active {
    border: none;
}

form>button {
    padding: 3px 2px;
    margin: 5% 0;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
}


/* ======================page4========== */


.page4 {
    width: 100%;
    margin: 6% 5%;

}

.page4-content>h1 {
    font-size: 45px;
    padding: 10px 0;
}

.page4-content>p {
    padding: 2px 0;
}

.page4-content>button {
    padding: 8px 12px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}

.images {
    display: flex;
    width: 100%;
    margin-top: 20px;

}

.photo>img {
    width: 85%;
    padding: 10px 0;
}

/* ======================border==== */
.border {
    border: 1px solid black;
}

/* =============page5=========== */

.page5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 3% 5%;
}

.left-page {
    padding: 5% 0;
}

.left-page>h3 {
    padding: 8px 0;
}

.footer {
    display: flex;
    margin: 3% 5%;
}

.footer>h1 {
    font-size: 100px;
    /* padding: 5% 7%; */
    font-weight: 900;


}

.footer>i {
    font-size: 40px;
    padding: 60px 20px;
    margin-left: 5%;
}
/* ===================hover======== */
.nav >h3:hover{
    border-bottom: 2px solid red;
  
}
.content2 >button:hover{
    background-color: red;
}

/* ================responsive======== */

@media (max-width:600px) {

    html,
    body {
        width: 100%;
        height: 100%;

    }

    .nav {
        display: none;
    }
   

    main {
        width: 100%;
        /* height: 100%; */
    }

    .content1 {
        width: 295vw;
        height: 200vh;
        padding: 10% 0;
    }

    .content2 {
        width: 100%;

    }

    .content2>h1 {
        font-size: 100px;
        padding: 5% 0;
    }

    .content2>p {
        font-size: 25px;
        padding: 5% 0;
    }

    .content2>button {
        font-size: 25px;
        padding: 9px 18px;
        margin: 5% 0;
    }

    .icon>i {
        font-size: 45px;
        margin: 2% 0;
    }

    /* ===========page2===== */
    .page2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .pro-detal>h1 {
        font-size: 80px;
    }

    .pro-detal>p {
        font-size: 35px;
        display: inline-block;
    }

    .page2-box {
        width: 600px;
        height: 65px;
        margin: 20px 65px;
        font-size: 30px;
    }

    .page2-box>i {
        font-size: 50px;
    }

    .page2-box1 {
        width: 250%;
        margin: 20px 70px;
        display: flex;
        flex-direction: column;

    }

    .page2-box1>.box>img {
        width: 100%;
    }

    /* ==============page3========== */
    .page3 {
        width: 200%;
        display: flex;
        flex-direction: column;

    }

    .page3-hading>h1 {
        font-size: 80px;
        padding: 5% 9%;
    }

    .page3-hading>p {
        font-size: 28px;
        padding: 5% 10%;
        margin-bottom: 5%;
    }

    .contact {
        width: 100%;
        padding: 10px 20px;
    }

    .contact>h2 {
        font-size: 30px;
    }

    .contact>p {
        font-size: 20px;
    }

    form {
        width: 90%;
    }

    label {
        font-size: 25px;
    }

    /* ===============page34========== */

    .page4 {
        width: 200%;
    }

    .page4-content>h1 {
        font-size: 80px;
        margin: 11%;
    }

    .page4-content>p {
        font-size: 30px;
        margin: 0 11%;
        display: inline-block;
    }

    .page4-content>button {
        padding: 15px 30px;
        margin: 5% 10%;
        background-color: black;
        color: white;
        font-size: 22px;
        font-weight: 400;
    }

    .images {
        width: 150%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .images>.photo>img {
        width: 100%;
    }

    /* ===========border========== */

    .border {
        width: 300%;
        border: 1px solid black;
    }

    /* ===============footer========= */

    .page5 {
        width: 300%;
    }
}